tmp/
/MATERIAL DO CLIENTE/
/Portfólio/
/Projeto Hasta Finisterre/
/Ajustes/
/Limiares/
*.zip
*.psd
*.tif
*.tiff
*.raw
*.dng
*.cr2
*.nef
*.arw
.DS_Store
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
